// COLORS
$color-body: #f1efeb;
$color-white: #ffffff;
$color-text: #272727;
$color-text-2: #8f8f8f;

// FONT SIZE
$default-font: 16px;

// FONT FAMILY
$default-family: Arial, Helvetica, sans-serif;

